<div>
    <div class="jumbotron">
        <div class="row" ng-if="$ctrl.editable">
            <div class="col-sm-4">
                <div flow-init
                     flow-files-submitted="$flow.upload()"
                     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                     flow-file-success="upload_profile( $file, $message, $flow )">
                    <div class="drop" flow-drop ng-class="dropClass">
                        <div class="thumbnail" style="height: 250px; width: 250px" flow-btn>
                            <img ng-src="{{photo}}" flow-img="$flow.files[0]" style="height: 240px; width: 250px"/>
                        </div>
                    </div>
                </div>

            </div>
            <h1>
                <div class="col-sm-3">
                    <input type="text" class="form-control input-lg" id="imie" placeholder="Nazwisko i imie"
                           data-ng-model="profile.full_name">
                </div>

                <div class="col-sm-5">
                    <input type="text" class="form-control input-lg" id="torrent" placeholder="Loading... torrent hash"
                           data-ng-model="profile.torrent_id" disabled="disabled">
                </div>
            </h1>
        </div>
         <div class="row" ng-if="!$ctrl.editable">
            <div class="col-xs-6 col-md-3">
                <img class="thumbnail" ng-src="{{photo}}" alt="" style="height: 250px; width: 250px">
            </div>
            <h1>{{profile.full_name}}</h1>
        </div>
    </div>
    
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Details"><details-component profile="profile" post="post" editable="$ctrl.editable"></details-component></uib-tab>
    <uib-tab index="1" heading="Posts"><posts-component posts="posts" post="post" editable="$ctrl.editable"></posts-component></uib-tab>
    <uib-tab index="2" heading="Photos"><albums-component photos="photos" post="post" editable="$ctrl.editable"></albums-component></uib-tab>
  </uib-tabset>

</div>