<form class="form-horizontal">
  <div class="input-group" style="width: 400px">
    <input type="text" class="form-control input-lg text-center" placeholder="Znajdz przyjaciol" ng-model="search_id">
    <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-lg" ng-click="get()">Szukaj</button>
             </span>
  </div>
  <div>
</form>

<ul class="media-list">
  <li class="media thumbnail" ng-repeat="profile in friends_list" ng-click="goToProfile(profile)">
    <div class="media-left">
      <a>
        <img class="media-object" ng-src="{{profile.photo}}" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h3 class="media-heading">{{profile.doc.full_name}}</h3>
      <h4 class="media-heading">{{profile.doc.torrent_id}}</h4>
    </div>
  </li>
</ul>