<div>
    <div id="todo-form">
        <div class="text-center">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="text" class="form-control input-lg text-center"
                               placeholder="O czym teraz myslisz?"
                               ng-model="$ctrl.post.text">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg" ng-click="$ctrl.createPost()">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="alert alert-info" role="alert" ng-repeat="alert in $ctrl.posts" type="info" close="$ctrl.deleteTodo(alert._id)"><h3>
                {{profile.full_name}}</h3>
                {{alert.text}}
            </div>
        </div>
    </div>
</div>