<br />
<div>
    <div id="todo-form" ng-if="$ctrl.editable">
        <div class="text-center">
            <form class="form-horizontal" style="display: flex; flex-direction: column; align-items: center">
                <div style="display: flex" class="input-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="O czym teraz myslisz?" ng-model="$ctrl.post.text">

                    <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="$ctrl.createPost()">Dodaj</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div id="todo-list">
        <div>
            <div class="alert alert-info" role="alert" ng-repeat="alert in $ctrl.posts track by $index" type="info">
                <p class="text-left text-muted">{{alert.full_name}}</p>
                <p class="text-center">{{alert.text}}</p>
            </div>
        </div>
    </div>
</div>